@font-face {
    font-family: 'omori';
    src: url(OMORI_GAME2.ttf);
}
body{
    font-family: 'omori', 'sans-serif';
    background-color: rgb(45, 45, 45) ;
    color: White;
    height: 300vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
}

::-webkit-scrollbar{
    width: 0.2vw;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(181, 181, 181);
    border-radius: 5%;
    }



.hdr{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.442);
    text-align: center;
    top: 0;
    position: fixed;
}